


.glass{
  backdrop-filter: blur(5px);
-webkit-backdrop-filter:blur(5px)

}



  .bg{
    /* The image used */
    background-image: url(../src/assets/aurora.jpeg);

  
    height: 100vh;
    width: 100vw; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .container {
  position: relative;
}
.centered {
  position: absolute; /* or absolute */
  z-index: 10;
  top: 50%;
  left: 50%;
    transform: translate(-50%, -50%);
}

.inactive{
  color: azure;
}
.active{
  color: crimson;

  /* border-bottom: solid 3px blue; */
 } 




.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: #3f0888;
  stroke-width: 8;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}




